:root{
    --back-color:#fff;
    --black-color:#000;
    --dark-text:#333;
    --gray-color:#727272;
}
@media(max-width:768px){
    nav{
        height: 60px !important;
        margin-top: 30px;  
    }
    .nav-item{
        display: none;
    }
    .nav-right{
        right: 20px;
        top: 20px !important;
    }
    .nav-left{
        left: 20px;
        top: 20px !important;
    }
    .nav-center{
        top: 12px !important;
    }
    .nav-bar{
        font-size: 22px;
        display: block;
    }
    .close-bar{
        display: none;
    }
    .close-bar.active{
        display: block;
    }
    .open-bar.active{
        display: none;
    }
    header{
        height: 30px;
    }
    .header-close{
        display: none;
    }
    .header-text{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-text p{
        font-size: 12px;
    }
    .header-detail{
        font-size: 14px;
    }
    main{
        top: 90px !important;
    }
    .main-text{
        gap: 20px !important;
    }
    .main-title{
        font-size: 28px !important;
        width: 90%;
    }
    .main-detail{
        font-size: 18px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .main-page{
        height: 550px !important;
    }
    .main-background{
        height: 700px !important;
    }
    #main-btn{
        width: 320px;
    }
    .side-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 100px; */
        background-color: var(--back-color);
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 99999;
        align-items: center;
        overflow: auto;
        /* animation: side-nav-animation .7s ease-in-out; */
        display: none;
    }
    .side-nav.active{
        display: flex;
    }
    /* @keyframes side-nav-animation {
        from{
            left: -100%;
            opacity: 0;
        }
    } */
    .side-top{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:  #fef4f4;
        /* position: relative; */
        padding-bottom: 10px;
    }
    .search-top{
        /* position: relative; */
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #search-text{
        color: #ff0000;
        font-size: 28px;
    }
    #side-search{
        width: 100%;
        /* position: absolute; */
        height: 35px;
        padding: 0 20px;
        background-color: transparent;
        border: 1px solid #ddcbcb;
        border-radius: 10px;
        outline: none;
        /* display: flex;
        justify-content: center; */
        /* color: #ff0000; */
    }
    .side-bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .side-title{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .side-title p:hover{
        color: var(--gray-color);
        transition: all .2s;
    }
    .side-category{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .side-category-card{
        width: 49%;
        height: 180px;
        background-color: #fef4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
    }
    .side-category-card img{
        width: 100% !important;
        height: 90% !important;
        mix-blend-mode: multiply;
    }
    #shop-img{
        width: 75% !important;
        height: 55% !important;
    }
    #pig-img{
        width: 50% !important;
        height: 55% !important;
    }
    .side-category-card h3{
        color: #ff0000;
    }
    .side-item-parent{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .side-item{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        border-bottom: 1px solid #c1c1c1;
        transition: all .3s;
    }
    .side-item:hover{
        color: var(--gray-color);
    }
    .deliver{
        width: 100%;
    }
    .deliver-top{
        width: 80% !important;
        font-size: 17px !important;
    }
    .deliver-bottom{
        width: 90% !important;
    }
    /* .learn{
        height: 700px;
    } */
    .learn-parent{
        flex-direction: column;
        width: 90%;
        align-items: start;
        gap: 20px;
    }
    .learn-left{
        width: 50% !important;
        /* background-color: #000 !important; */
        /* z-index: 9999999999; */
        height: 170px;
    }
    .learn-right{
        width: 100% !important;
        padding-top: 0;
    }
    .title-bottom{
        font-size: 45px;
        left: 30%;
        top: 65%;
        /* top: 50px;
        left: 50px;
        position: absolute; */
    }
    .title-top{
        font-size: 45px;
        left: 80%;
        top: 35%;
        /* top: 20px;
        left:200px;
        translate: 0 0;
        position: static; */
    }
    .learn-bottom{
        width: 45% !important;
    }
    .category-parent{
        flex-direction: column;
    }
    .category-item{
        width: 100%;
        height: 25%;
    }
    .category-1{
        left: 0;
        top: 0;
    }
    .category-2{
        left: 0;   
        top: 25%; 
    }
    .category-3{
        left: 0; 
        top: 50%;   
    }
    .category-4{
        left: 0; 
        top: 75%;   
    }
    .category-image img{
        object-fit: cover;
    }
    .category-item:hover{
        width: 100%;
    }
    .category-item:hover .category-text i{
        display: block;
    }
    .sub-container{
        width: 90%;
    }
    .sub-mid{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .sub-text-1{
        top: 0;
        right: 0;
    }
    .sub-text-2{
        top: 50px;
        right: 70px;
    }
    .sub-right{
        font-size: 45px;
        width: 100%;
        height: 140px;
    }
    .sub-left{
        /* font-size: 30px; */
        width: 100%;
        /* height: 140px; */
    }
    .cheers-container{
        width: 100%;
        top: -45px;
    }
    .cheers-container img{
        width: 55%;
    }
    .cheers-container h1{
        font-size: 32px;
    }
    .check-parent{
        width: 90%;
        gap: 0;
    }
    .check-top{
        width: 100%;
        top: 60px;
    }
    .check-mid img{
        display: none;
    }
    .check-mid{
        font-size: 44px;
        width: 100%;
        height: 150px;
    }
    .check-card{
        width: 50% !important;
        /* border-bottom: 1px solid #c1c1c1 !important; */
    }
    .check-card-top{
        border-bottom: none;
    }
    .check-card-left{
        border-left: none;
    }
    .check-card-center{
        border-right: none;
        border-left: none;
    }
    /* .check-card-mobile-border{
        border-left: 1px solid #c1c1c1;
    } */
    .taco-parent{
        height: 300px;
    }
    .taco-mid{
        font-size: 25px !important;
    }
    .taco-btn{
        font-size: 16px;
    }
    footer{
       flex-direction: column;
       height: 700px !important;
       top: 90px !important;
    }
    .footer-left{
        width: 100%;
        height: 250px !important;
        gap: 20px;
    }
    .footer-left h1{
        font-size: 24px !important;
    }
    .footer-left img{
        display: none;
    }
    .footer-right{
        width: 100%;
    }
    .footer-input{
        width: 90%;
    }
    .footer-right{
        width: 100%;
    }
    .footer-top{
        display: none !important;
    }
    .footer-top-mb{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        /* height: 200px; */
        padding: 50px 0;
        gap: 20px;
    }
    .footer-card-mb{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .footer-card-mb i{
        font-size: 10px;
    }
    .menha{
        display: none;
    }
    .menha.active{
        display: block;
    }
    .jam.active{
        display: none;
    }
    .footer-card-top-mb{
        display: flex;
        /* width: 100%; */
        gap: 10px;
        align-items: center;
        flex-direction: row;
    }
    .footer-card-bottom-mb{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 100%;
        align-items: center;
        display: none;
    }
    .footer-card-bottom-mb a{
        color: var(--gray-color);
    }
    .footer-card-bottom-mb.active{
        display: flex;
    }
    .footer-bottom{
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    }
    .footer-bt-right{
        flex-direction: column;
        width: 90%;
        /* padding: 0; */
    }
    .footer-bt-top{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        
    }
    .footer-bt-top i{
        font-size: 30px;
    }
    .footer-bt-bottom{
        text-align: center;
    }
    .footer-bt-left i{
        font-size: 30px;
        
    }
    .footer-bt-left{
        width: 90%;
        justify-content: center;
        padding:  0 !important;
        padding-right: 30px !important;
        margin: 0;
        /* padding-left: 130px; */
    }
    
}
