@media(max-width:992px){
    .nav-item{
        display: none;
    }
    .nav-right{
        right: 20px;
    }
    .nav-left{
        left: 20px;
    }
    .nav-bar{
        font-size: 22px;
        display: block;
    }
    .close-bar{
        display: none;
    }
    .header-close{
        display: none;
    }
    .header-text{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav{
        height: 80px;
        margin-top: 30px;  
    }
    header{
        height: 30px;
    }
    main{
        top: 110px;
    }
    .main-text{
        gap: 40px;
    }
    .main-title{
        font-size: 32px;
        width: 90%;
    }
    .main-detail{
        font-size: 18px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .main-page{
        height: 900px;
    }
    .main-background{
        height: 1050px;
    }
}