@media(max-width:768px){
    nav{
        height: 60px !important;
        margin-top: 30px;  
    }
    .nav-item{
        display: none;
    }
    .nav-right{
        right: 20px;
    }
    .nav-left{
        left: 20px;
    }
    .nav-bar{
        font-size: 22px;
        display: block;
    }
    .close-bar{
        display: none;
    }
    header{
        height: 30px;
    }
    .header-close{
        display: none;
    }
    .header-text{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-text p{
        font-size: 12px;
    }
    .header-detail{
        font-size: 14px;
    }
    main{
        top: 90px !important;
    }
    .main-text{
        gap: 20px !important;
    }
    .main-title{
        font-size: 28px !important;
        width: 90%;
    }
    .main-detail{
        font-size: 18px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .main-page{
        height: 550px !important;
    }
    .main-background{
        height: 700px !important;
    }
    #main-btn{
        width: 320px;
    }
    
}